/* Grid Gardem */

/* Level 1 */
  
  #water {
    grid-column-start: 3  
  }

  /* Level 2 */
     
  #poison {
    grid-column-start: 5;  
  }

  /* Level 3 */
   
  #water {
    grid-column-end: 4;  
  }

  /* Level 4 */
    
  #water {
       grid-column-end: 2;  
  }


  /* Level 5 */
  
  #water {
    grid-column-end: -2;  
  }

  /* Level 6 */
  
  #poison {
    grid-column-start: -3;  
  } 

  /* Level 7 */
  
  #water {
    grid-column-end: 4;  
  }

 /* Level 8 */ 

  #water {
    grid-column-end: span;  
  }

  /* Level 9 */
  
  #water {  
    grid-column-start: 3;
  }

  /* Level 10 */
  
  #water {
    grid-column: 4/6; 
  }

  /* Level 11 */

  #water {
    grid-column: 2/span 3;  
  }

  /* Level 12 */
  
  #water {
    grid-row: 3;  
  }
  
  /* Level 13 */

  #water {
    grid-row: 3/6;  
  }

  /* Level 14 */
  
  #poison {
    grid-column: 2;
    grid-row: 5;
  }

  /* Level 15 */

   #water {
    grid-column: 2/6;
    grid-row: 1/6;
  }

  /* Level 16 */

  #water {
    grid-area: 1 / 2 / 4 / 6  
  }

  /* Level 17 */

  #water-2 {
    grid-area: 2 / 3 / 5 / 6  
  }
  
  /* Level 18 */

  #poison {
    order: 5;
}
/* Level 19 */

.poison {
    order: 7;
}

/* Level 20 */

    grid-template-columns: 50%;

/* Level 21 */

grid-template-columns: repeat(10, 12.5%);

/* Level 22 */

grid-template-columns: 100px 3em 40%;

/* Level 23 */

grid-template-columns: 0.8fr 4fr;

/* Level 24 */

grid-template-columns: 50px 1fr 1fr 1fr 50px

/* Level 25 */

grid-template-columns: 75px 3fr 2fr;











