* {
    margin: 0;
    padding: 0;
}

.cabeca {
    background-color: rgb(92, 184, 39);
}

#boasvindas {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-style: normal;
}

#frase {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.nome {
    text-align: center;
    padding: 20px;
    background-color: rgb(92, 184, 39);
    font-size: 100px;
    text-align: center;
}



#redes {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

div img {
    padding: 100px;
    margin-left: 100px;
    margin-right: 50px;
    
}

.imgredesocial {
    padding: 20px;
    margin-bottom: 5px;
    margin-left: 650px;
    width: 3%;
}

#rodape {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
    background-color: rgb(92, 184, 39) ;
}

div p {
    text-align: center;
    font-size: 100px;
}

#background {
    float: left;
    
}

#funcionarios {
    background-color:lightseagreen;
    margin-top: 0px;
    margin-left: 50px;
    font-size: 50px;

}

.form {
    margin-bottom: 50px;
    width: px;
    height: 40px;

}

#adicionarproduto {
    margin-top: 0px;
    margin-bottom: 100px;
    font-size: 100px;
    text-align: center;
    padding: 100px;
}

.addproduct {
    
    text-align: center;
}

.addproduct {
    font-size: 50px;
    margin-left: 100px;
}

#controleestoque {
    margin-left: 590px;
    padding: 100px;
    text-align: left;
    font-size: 50px;
    color: red;

}

.campo {
    border: 1px solid black;
    font-size: 50px;
    padding: 50px;
}

.descricaoestoque{
    border: 1px solid black;
    text-align: center;
    font-size: 50px;
    padding: 0px;
}

.nomefuncionario {
    padding: 50px;
    margin-left: 100px;
    font-size: 50px;
}

.form {
    color:black;
    padding: 20px;
    font-size: 50px;
    width: 20%;
    
}

.ilustracao {
    width: 300px;
    margin: 0px;
}

#fotofundo {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 750px;
    width: 60%;
}

.backgroundpaginas {
    
    background-color: lightseagreen;
}

#fundoprodutos {
    padding: 20px;
    background-color: lightseagreen;
}

.menu {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: ;
    margin-top: 10px;
    margin-left: 500px;
    margin-bottom: 0px;
    padding: 0px;
    font-size: 50px;
    color: black; 
}

#backgroundadd {
    background-color: lightseagreen;

}

.footer {
    padding: 100px;
    background-color: rgb(92, 184, 39);
}

#form-add {
    width: 150px;
    font-size: 30px;
    padding: 10px;
}

#fundoredessociais {
    background-color: rgb(92, 184, 39)  ;
}